.loginContainer{
    display: flex;
    height:100%;
    width: 100%;
    flex-direction: row;
}

.flexItems{
    width: 60%;
  
}
.flexItems img{
    margin-top: 100px;

}

.loginForm{
    margin-top: 80px;
    margin-left: 75px;
    padding: 30px;
}
@media (max-width:800px){
    .flexItems{
        display: none;
    }
    .loginForm{
        margin-left: 0px;
    }
    .loginContainer{
        width: 100%;
        height: auto;
        justify-content: center;
    }
    
}